.container {
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  /* grid-template-rows: 10vh 40vh 50vh; */
  /* column-gap: 10px;
  row-gap: 10px; */
  grid-template-areas:
    "header header header header"
    "nav main main sidebar"
    "nav main main sidebar"
    "footer footer footer footer";
  gap: 10px;
  /* justify-content: center;
  align-content: center; */
  height: 400px;
  background-color: black;
}

div.container div {
  background-color: aqua;
}

#item1 {
  grid-area: header;
}
#item2 {
  grid-area: nav;
}
#item3 {
  grid-area: main;
}
#item4 {
  grid-area: sidebar;
}
#item5 {
  grid-area: footer;
}
